body {
    background: url(../IMG/noise.png);
}

.calculadora{
    /*background: darkslategray;*/
    background: #A9A9A9;
    width: 240px;
    margin: 50px auto ;
    padding: 20px;
    border: 2px solid black;
}

#visor{
    height: 60px;
    width: 240px;
    margin: 0px 0px 5px 0px;
    border: 0px;
}

button{
    height: 60px;
    width: 60px;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: #F5F5F5;
}

.sinal{
    background-color: #BDB76B;
}

button:hover{
    color: #ffffff;
    background-color:#708090;
}

table{
    border-spacing: 0px;
}

td{
    padding: 0px;
    border: 0px;
}