body {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background: whitesmoke;
}

main {
    background: white;
}

.head {
    width: 100%;
    height: 90px;
    background: darkred;
}

table {
    margin-right: auto;
    margin-left: auto;
}

table, th, td, tr {
    text-align: center;
    border: 1px solid black;
}

footer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: darkred;
}

#hh1 {
    background: darkred;
    margin: 10px;
    padding-top: 25px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#titulo1 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#titulo2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#calcIMC {
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 46%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

#btn3 {
    cursor: pointer;
    width: 130px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 46%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

.foot {
    color: whitesmoke;
    text-align: center;
    height: 100%;
}

#addPaciente {
    cursor: pointer;
    width: 130px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 46%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

#form {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.btn {
    text-shadow: 0px 0px 2px black;
     color: white;
    background: linear-gradient(141deg, #8B393D, darkred);
   
}